button:hover{
    font-size: 130%;
    cursor: pointer;
}

button{
    background: url("/design/buttonbackground.jpg");
    color: white;
    background-repeat:no-repeat;
    background-size:cover;
    border-radius: 8px;
    border: none;
    padding: 5px;
}

#container{
    width: 80%;
    margin: auto;
}

.height40{
    height: 40px;
}

table{
    margin: auto;
    border-collapse: collapse;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 8px black;
}

tr{
    font-weight: bold;
    height: 40px;
}

td{text-align: center;
    width: 150px;
    padding-left: 10px;
}